# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# ignore environment files
.env
.env.*

# docker
docker/volumes/postgres

# Tests
coverage/*
spec/examples.txt

# Mac OS
.DS_Store
.vscode
