!!!
%html{:lang => "en"}
  %head
    %meta{:'htt-equiv' => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:charset => "utf-8"}
    %title #{@title} #{'-' if @title} - Default Sinatra
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    %link{ rel: "shortcut icon", href: "/images/favicon.ico"}

  %body

    %div= yield
